:root{
    --blue-color:#0075ff;
    --blue-alt-color:#0d69d5;
    --orange-color:#f59e0b;
    --green-color:#22c55e;
    --red-color:#f44336;
    --grey-color:#888;
}
/* start f.box */
.d-flex{
    display:flex;

}
.aling-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.center-flex{
    display:flex;
    align-items: center;
    justify-content: center;
}
@media(max-width:767px){
    .block-mobile{
display: block;
    }
}
/* end f.box */
/* start grid */
.d-grid{
    display: grid;
}
.gap-20{
    gap: 20px;
}
/* end grid */
/* start block */
.d-block{
    display: block;
}
/* end block */
/* start padding + margin */
.p-3{
    padding: 3px;
}
.p-5{
    padding: 5px;
}
.p-10{
    padding: 10px;
}
.p-15{
    padding: 15px;
}
.p-20{

padding: 20px;
}
.pt-10{
padding-top: 10px;
}
.pt-20{
    padding-top: 20px;
}
.pb-30{
    padding-bottom: 30px;
}
.pr-10{
    padding-right: 10px;
}
.pr-5{
    padding-right: 5px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-20{
    padding-bottom: 20px;
}
.pl-15{
    padding-left: 15px;
}
.m-0{
    margin: 0;
}
.m-10{
    margin: 10px;
}
.m-15{
    margin: 15px;
}
.m-20{
    margin:20px;
}
.mt-0{
    margin-top:0;
}

.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-25{
    margin-top: 25px;
}
.mr-5{
    margin-right: 5px;
}
.mr-10{
    margin-right: 10px;
}
.mr-15{
    margin-right: 15px;
}

.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-25{
    margin-bottom: 25px;
}
.ml-10{
    margin-left: 10px;
}
/* end padding + margin */
/* start position */
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
/* end position */
/* start color */
.bg-white{
    background-color: white;
}
.c-black{
    color: black;
}
.bg-eee{
    background-color: #eee;
}
.bg-orange{
    background-color: orange;
}
.bg-blue{
    background-color: blues;
}
.c-grey {
    color: var(--grey-color);
}
.c-blue{
    color: var(--blue-color);
}
.bg-blue{
    background-color: var(--blue-color);
}
.bg-red{
    background-color: red;
}
.c-white{
    color: white;
}
.c-red{
    color: red;
}
.c-green{
    color: green;
}
.c-orange{
    color: orange;
}
.c-blue{
    color: blue;
}
.bg-orange{
    background-color: orange;
}
.bg-green{
    background-color: green;
}
.c-p{
    color: #777;
}
/* end color */
/* start font */
.txt-c{
    text-align: center;
}
.fs-13{
    font-size: 13px;
}
.fs-14{
font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-16{
    font-size:16px
}
.fs-18{
    font-size: 18px;
}
.fs-25{
    font-size: 25px;
}
.fw-bold{
    font-weight: bold;
}
@media (max-width:767px){
    .txt-c-mobile{
        text-align: center;
    }
}
/* end font */
/* start border */
.rad-6{
    border-radius: 6px;
}
    .rad-10{
    border-radius: 10px;
}
.rad-half{
    border-radius: 50%;
}
.b-1{
    border: 1px solid #ccc;
    border-radius: 6px ;
}
.b-2{
    border: 2px solid green;
}
.b-eee{
    border: 1px solid #eee;
}
.bt-1{
    border-top: 1px solid #eee;
}
.bt-2{
    border-top: 2px solid #eee;
}
.bb-2{
    border-bottom: 2px solid #eee;
}
.b-none{
    border: none;
}
.bl-n{
    border-left: none;
}
.br-1{
    border-right: 1px solid rgba(122, 119, 119, 0.096)
}
/* end border */
/* start width  and height*/
.w-full{
    width: 100%;
}
.w-fit{
    width: fit-content;
}
.h-full{
    height: 100%;
}
/* end width and height */
/* start opacity */
.op-4{
    opacity: 0.4;
}
.op-5{
    opacity: 0.5;
}
/* end opacity */
/* start components */
.full-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-shape{
    padding: 4px 10px;
    border-radius: 6px;
}
/* end components */